.info{
    &__item{
        width: 100%;
        padding: 8px 0 12px;
        border-bottom: 1px solid rgba($black, .15);

        @media(min-width: $mq-2){
            width: auto;
            margin-right: $gap * 2.25;
            border-bottom: 0;

            &:nth-of-type(1){
                max-width: 30%;
                margin-right: $gap;
            }
        }
    }
        &__content{
            position: absolute;
            visibility: hidden;
            opacity: 0;

            @media(min-width: $mq-2){
                @include flex(flex, flex-start, flex-start, column, wrap);
                position: relative;
                visibility: visible;
                opacity: 1;
            }
        }
        &__title{
            @include flex(flex, space-between, center, row, nowrap);
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.52px;
            line-height: 3;
        }
        &__icon{
            @include flex(flex, center, center, row, nowrap);
            width: 20px;
            height: 20px;
            position: relative;

            z-index: 200;
            cursor: pointer;
            border: none;
            background-color: transparent;
            
            @media(min-width: $mq-2){ display: none; }

            &-1,
            &-2{ position: absolute; background: $black; }
            &-1{ width: 10px; height: 2px; }
            &-2{ width: 2px; height: 10px; }
        }
        &__description,
        &__link{
            font-size: 13px;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.26px;
        }
}