.hero{
    &__info{
        @include flex(flex, center, center, column, wrap);
        position: absolute;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
    
        @media(min-width: $mq-1){ bottom: 90px; }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center ;
    }
}
