.instagram{
    @include flex(flex, flex-start, flex-start, column, wrap);

    &__container{
        @include flex(flex, space-between, center, row, wrap);
        width: 100%;
        @media(min-width: $mq-2){ flex-wrap: nowrap; }
    }
    &__main-title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__icon{
        height: 18px;
        width: 18px;
        object-fit: contain;
        margin-right: 10px;
    }
}
