.slider{
    &__item{
        @include flex(flex, flex-start, flex-start, column, wrap);
        width: 100%;
        margin-bottom: $gap;

        @media(min-width: $mq-2){
            width: calc(100% / 3);
            margin-bottom: 0;

            &:nth-of-type(2){ .slider__info{ text-align: center;} }
            &:nth-of-type(3){ .slider__info{ text-align: right; } }
        }
        &:nth-of-type(2){
            align-items: flex-start;
            @media(min-width: $mq-1){ align-items: center; }
        }
        &:nth-of-type(3){
            align-items: flex-start;
            @media(min-width: $mq-1){ align-items: flex-end; }
        }
    }   
        &__img{
            width: 100%;
            object-fit: contain;
            margin-bottom: 20px;

            @media(min-width: $mq-1){ width: calc( (100%  - #{$gap} / 2 )); }
            @media(min-width: $mq-2){ width: 65%; }
        }
        &__info{
            display: flex;
            flex-direction: column
        }
}
