@font-face {
	font-family: 'GraphikRegular';
	font-family: 'GraphikRegular';
	src: url('../../fonts/GraphikRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'GraphikMedium';
	src: url('../../fonts/GraphikMedium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'GraphikSemibold';
	src: url('../../fonts/GraphikSemibold.ttf') format('truetype');
	font-weight: 600;
}
